/****** Config Files *******/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
q:before,
blockquote:after,
q:after {
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/***************************/
/****** Components *********/
/***************************/
*,
*::after,
*::before {
  box-sizing: border-box;
  font-weight: 300;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
html {
  height: 100%;
}
body {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "NIISans", sans-serif;
}
.content {
  width: 1280px;
  margin: 0 auto;
}
@media only screen and (max-width: 1280px) {
  .content {
    width: 95%;
  }
}
select::-ms-expand {
  display: none;
}
.ng-cloak {
  display: none !important;
}
#banners {
  margin-bottom: 40px;
}
#banners .banner {
  display: table;
  width: 100%;
}
#banners .banner .left,
#banners .banner .right {
  display: table-cell;
  width: 50%;
  vertical-align: middle;
}
#banners .banner .right {
  background-image: url("../images/gray-bg.jpg");
  position: relative;
}
#banners .banner .right:after {
  position: absolute;
  content: url("../images/arrow.png");
  bottom: 10%;
  right: 5%;
}
#banners .banner .left {
  background-image: url("../images/orange-bg.jpg");
}
#banners .banner .left img {
  float: right;
  max-width: 100%;
}
#banners .banner .highlight {
  text-align: center;
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  display: inline-block;
}
#banners .banner .highlight p {
  width: auto;
}
#banners .banner .highlight .size {
  font-weight: bold;
  color: #ff6b0f;
  font-size: 90px;
  font-size: 5.625rem;
  line-height: 90px;
}
#banners .banner .highlight .size .big {
  font-size: 140px;
  font-size: 8.75rem;
}
#banners .banner .highlight .subtitle {
  color: #fff;
  font-size: 26px;
  font-size: 1.625rem;
  font-weight: bold;
}
#banners .banner .highlight .plus {
  display: table;
  color: #ff6b0f;
}
#banners .banner .highlight .plus>div {
  display: table-cell;
  vertical-align: middle;
}
#banners .banner .highlight .plus>div:first-child {
  font-weight: bold;
  font-size: 120px;
  font-size: 7.5rem;
  padding-right: 5px;
  line-height: 90px;
}
#banners .banner .highlight .plus>div:last-child {
  font-size: 40px;
  font-size: 2.5rem;
}
#banners .banner .highlight .plus>div:last-child b {
  font-weight: bold;
}
#banners .banner .highlight .plus>div:last-child p:first-child {
  letter-spacing: 5px;
}
#banners .banner .highlight .subtitle-small {
  color: #fff;
  font-size: 20px;
  font-size: 1.25rem;
  font-weight: bold;
}
#banners .banner .highlight .promo {
  padding: 30px 20px 0px;
}
#banners .banner .highlight .promo .info {
  color: #fff;
  font-size: 14px;
  font-size: 0.875rem;
  text-align: left;
  font-weight: bold;
}
#banners .banner .highlight .promo .price {
  display: table;
  padding-top: 8px;
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
}
#banners .banner .highlight .promo .price>div {
  display: table-cell;
  vertical-align: top;
  color: #ff6b0f;
  font-weight: bold;
}
#banners .banner .highlight .promo .price>div:first-child {
  font-size: 24px;
  font-size: 1.5rem;
}
#banners .banner .highlight .promo .price>div:nth-child(2) {
  font-size: 140px;
  font-size: 8.75rem;
  line-height: 90px;
}
#banners .banner .highlight .promo .price>div:nth-child(3) {
  font-size: 28px;
  font-size: 1.75rem;
}
#banners .banner .highlight .promo .price>div:nth-child(3) p {
  font-size: 14px;
  font-size: 0.875rem;
  color: #fff;
}
#banners .slick-dots {
  position: absolute;
  bottom: 20px;
}
#banners .slick-dots li button:before {
  color: #fff;
  font-size: 15px;
  font-size: 0.9375rem;
}
#banners .slick-dots li.slick-active button:before {
  font-size: 22px;
  font-size: 1.375rem;
  color: #ffdea9;
}
.contrate {
  background-color: #fff;
  border: 1px solid #fff;
  box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.1);
}
.contrate .content {
  padding: 0px 70px;
}
.contrate h1 {
  text-align: center;
  color: #fff;
  background-color: #cc3000;
  font-size: 40px;
  font-size: 2.5rem;
  line-height: 68px;
  font-weight: bold;
}
.contrate .customer-type {
  position: relative;
  padding-top: 25px;
}
.contrate .customer-type h2 {
  color: #4a4a4a;
  font-size: 24px;
  font-size: 1.5rem;
}
.contrate .customer-type>div {
  position: absolute;
  right: 0px;
  top: 25px;
}
.contrate .customer-type>div input[type=radio] {
  appearance: none;
  -webkit-appearance: none;
  -ms-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  height: 16px;
  width: 16px;
  border: 2px solid #000;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -o-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
  position: relative;
  margin-right: 14px;
}
.contrate .customer-type>div input[type=radio]:checked:after {
  content: "";
  height: 8px;
  width: 8px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -o-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
  background-color: #fe4701;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.contrate .customer-type>div label {
  font-size: 23px;
  font-size: 1.4375rem;
  color: #fe4701;
  margin-left: 30px;
}
.contrate .form {
  padding: 30px 0px;
}
.contrate .form>div {
  margin-bottom: 11px;
}
.contrate .form>div:first-child {
  width: 800px;
}
.contrate .form>div:first-child input {
  width: 100%;
}
.contrate .form>div:last-child {
  display: table;
  width: 100%;
}
.contrate .form>div:last-child a {
  cursor: pointer;
  font-size: 11px;
  font-size: 0.6875rem;
  color: #fe4701;
  line-height: 30px;
  display: block;
  text-decoration: none;
}
.contrate .form>div:last-child>div {
  display: table-cell;
  vertical-align: top;
}
.contrate .form>div:last-child>div:first-child {
  width: 438px;
}
.contrate .form>div:last-child>div:nth-child(2) {
  width: 360px;
  padding-left: 60px;
}
.contrate .form>div:last-child>div:nth-child(2) input {
  float: right;
}
.contrate .form>div:last-child>div input {
  width: 100%;
}
.contrate .form>div:last-child>div:last-child {
  padding-left: 72px;
}
.btn {
  cursor: pointer;
  -webkit-border-radius: 28px;
  -moz-border-radius: 28px;
  -o-border-radius: 28px;
  -ms-border-radius: 28px;
  border-radius: 28px;
  background-color: #fe4701;
  height: 56px;
  width: 100%;
  text-align: center;
  border: 1px solid #fe4701;
}
.btn p {
  color: #fff;
  font-size: 20px;
  font-size: 1.25rem;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}
.btn.small {
  height: 50px;
}
.btn.small p {
  font-size: 16px;
  font-size: 1rem;
}
.btn.invert {
  background-color: #fff;
}
.btn.invert p {
  color: #fe4701;
}
input[type=text] {
  font-size: 23px;
  font-size: 1.4375rem;
  font-weight: 300;
  padding: 12px 0px;
  border: 0px;
  appearance: none;
  -webkit-appearance: none;
  -ms-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  border-bottom: 1px solid #fe4701;
  outline: none;
}
input[type=text]::-webkit-input-placeholder {
  color: #fe4701;
}
input[type=text]::-moz-placeholder {
  color: #fe4701;
}
input[type=text]:-ms-input-placeholder {
  color: #fe4701;
}
input[type=text]:-moz-placeholder {
  color: #fe4701;
}
input[type=text]:focus {
  border-color: #cc3000;
}
input[type=text]:focus::-webkit-input-placeholder {
  color: #cc3000;
}
input[type=text]:focus::-moz-placeholder {
  color: #cc3000;
}
input[type=text]:focus:-ms-input-placeholder {
  color: #cc3000;
}
input[type=text]:focus:-moz-placeholder {
  color: #cc3000;
}
.planos {
  padding-top: 55px;
}
.planos .btn {
  width: 300px;
  margin: 0 auto;
  margin-bottom: 8px;
}
.planos #slider-planos {
  padding: 0 50px;
  overflow: hidden !important;
  width: 1000px !important;
  margin: 0 auto;
}
.planos #slider-planos .slick-list {
  overflow: visible !important;
}
.planos #slider-planos .slick-cloned {
  display: none !important;
}
.planos .plano {
  width: 270px !important;
  background-color: #fff;
  height: 387px;
  box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.1);
  -webkit-border-radius: 9px;
  -moz-border-radius: 9px;
  -o-border-radius: 9px;
  -ms-border-radius: 9px;
  border-radius: 9px;
  margin: 30px 25px;
  z-index: 9999;
  outline: none;
  text-align: center;
}
.planos .plano:hover,
.planos .plano.focus {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  transform: scale(1.1);
  transform-origin: center;
  transition-timing-function: ease-in-out;
}
.planos .plano .size {
  background-color: #fe4701;
  height: 185px;
  color: #fff;
  border-top-left-radius: 9px;
  border-top-right-radius: 9px;
}
.planos .plano .size h2 {
  font-size: 82px;
  font-size: 5.125rem;
  font-weight: bold;
  line-height: 70px;
}
.planos .plano .size h3 {
  font-size: 15px;
  font-size: 0.9375rem;
  font-weight: bold;
}
.planos .plano .size>div {
  position: relative;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.planos .plano .price {
  height: 202px;
}
.planos .plano .price>div {
  position: relative;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.planos .plano .price>div h3 {
  color: #000;
  font-weight: bold;
  font-size: 28px;
  font-size: 1.75rem;
}
.planos .plano .price>div h2 {
  color: #000;
  font-weight: bold;
  font-size: 30px;
  font-size: 1.875rem;
}
.planos .plano .price>div h5 {
  color: #000;
  font-weight: bold;
  font-size: 11px;
  font-size: 0.6875rem;
}
.planos .plano .price>div h4 {
  color: #000;
  font-weight: bold;
  font-size: 16px;
  font-size: 1rem;
  margin-bottom: 15px;
}
.planos .plano .price>div hr {
  width: 40%;
  height: 1px;
  background-color: #000;
  border: 0px;
  margin-bottom: 15px;
}
.planos .plano .price>div>div span {
  display: inline-block;
  vertical-align: top;
  font-weight: bold;
  font-size: 12px;
  font-size: 0.75rem;
}
.planos .plano .price>div>div b {
  color: #fe4701;
  font-size: 56px;
  font-size: 3.5rem;
  line-height: 40px;
}
.planos .plano .price>div>div .symbol {
  font-size: 22px;
  font-size: 1.375rem;
}
.planos #dots-planos {
  position: relative;
  margin-bottom: 50px;
}
.planos #dots-planos .slick-dots li {
  width: 16px;
  height: 16px;
  position: relative;
}
.planos #dots-planos .slick-dots li button {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -o-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
  background-color: #d9d9d9;
  width: 2px;
  height: 2px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.planos #dots-planos .slick-dots li button:before {
  display: none;
}
.planos #dots-planos .slick-dots li.slick-active {
  background-color: #fff;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -o-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
  border: 1px solid #fe4701;
}
.planos #dots-planos .slick-dots li.slick-active button {
  background-color: #fe4701;
  padding: 3px !important;
}
