/****** Config Files *******/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
q:before,
blockquote:after,
q:after {
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/***************************/
/****** Components *********/
/***************************/
*,
*::after,
*::before {
  box-sizing: border-box;
  font-weight: 300;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
html {
  overflow-x: hidden;
}
body {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "NIISans", sans-serif;
}
.content {
  width: 1280px;
  margin: 0 auto;
}
@media only screen and (max-width: 1280px) {
  .content {
    width: 95%;
  }
}
select::-ms-expand {
  display: none;
}
.ng-cloak {
  display: none !important;
}
.mobile {
  display: none !important;
}
@media only screen and (max-width: 760px) {
  .mobile {
    display: block !important;
  }
}
.desk {
  display: block !important;
}
@media only screen and (max-width: 760px) {
  .desk {
    display: none !important;
  }
}
#banners {
  margin-bottom: 40px;
}
#banners .banner {
  display: table;
  width: 100%;
}
#banners .banner .left,
#banners .banner .right {
  display: table-cell;
  width: 50%;
  vertical-align: middle;
}
#banners .banner .right {
  background-image: url("../images/gray-bg.jpg");
  position: relative;
}
#banners .banner .right:after {
  position: absolute;
  content: url("../images/arrow.png");
  bottom: 10%;
  right: 5%;
}
#banners .banner .left {
  background-image: url("../images/orange-bg.jpg");
}
#banners .banner .left img {
  float: right;
  max-width: 100%;
}
#banners .banner .highlight {
  text-align: center;
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  display: inline-block;
}
#banners .banner .highlight p {
  width: auto;
}
#banners .banner .highlight .size {
  font-weight: bold;
  color: #ff6b0f;
  font-size: 90px;
  font-size: 5.625rem;
  line-height: 90px;
}
#banners .banner .highlight .size .big {
  font-size: 140px;
  font-size: 8.75rem;
}
#banners .banner .highlight .subtitle {
  color: #fff;
  font-size: 26px;
  font-size: 1.625rem;
  font-weight: bold;
}
#banners .banner .highlight .plus {
  margin: 0 auto;
  display: table;
  color: #ff6b0f;
}
#banners .banner .highlight .plus>div {
  display: table-cell;
  vertical-align: middle;
}
#banners .banner .highlight .plus>div:first-child {
  font-weight: bold;
  font-size: 120px;
  font-size: 7.5rem;
  padding-right: 5px;
  line-height: 90px;
}
#banners .banner .highlight .plus>div:last-child {
  font-size: 40px;
  font-size: 2.5rem;
}
#banners .banner .highlight .plus>div:last-child b {
  font-weight: bold;
}
#banners .banner .highlight .plus>div:last-child p:first-child {
  letter-spacing: 5px;
}
#banners .banner .highlight .subtitle-small {
  color: #fff;
  font-size: 20px;
  font-size: 1.25rem;
  font-weight: bold;
}
#banners .banner .highlight .promo {
  padding: 30px 20px 0px;
}
#banners .banner .highlight .promo .info {
  color: #fff;
  font-size: 14px;
  font-size: 0.875rem;
  text-align: left;
  font-weight: bold;
}
#banners .banner .highlight .promo .price {
  display: table;
  padding-top: 8px;
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
}
#banners .banner .highlight .promo .price>div {
  display: table-cell;
  vertical-align: top;
  color: #ff6b0f;
  font-weight: bold;
}
#banners .banner .highlight .promo .price>div:first-child {
  font-size: 24px;
  font-size: 1.5rem;
}
#banners .banner .highlight .promo .price>div:nth-child(2) {
  font-size: 140px;
  font-size: 8.75rem;
  line-height: 90px;
}
#banners .banner .highlight .promo .price>div:nth-child(3) {
  font-size: 28px;
  font-size: 1.75rem;
}
#banners .banner .highlight .promo .price>div:nth-child(3) p {
  font-size: 14px;
  font-size: 0.875rem;
  color: #fff;
}
@media only screen and (max-width: 1070px) {
  #banners .banner .highlight .size {
    font-weight: bold;
    color: #ff6b0f;
    font-size: 70px;
    font-size: 4.375rem;
    line-height: 70px;
  }
  #banners .banner .highlight .size .big {
    font-size: 100px;
    font-size: 6.25rem;
  }
  #banners .banner .highlight .subtitle {
    font-size: 16px;
    font-size: 1rem;
  }
  #banners .banner .highlight .plus>div:first-child {
    font-weight: bold;
    font-size: 90px;
    font-size: 5.625rem;
    padding-right: 5px;
    line-height: 65px;
  }
  #banners .banner .highlight .plus>div:last-child {
    font-size: 30px;
    font-size: 1.875rem;
  }
  #banners .banner .highlight .subtitle-small {
    font-size: 14px;
    font-size: 0.875rem;
  }
  #banners .banner .highlight .promo .info {
    font-size: 12px;
    font-size: 0.75rem;
  }
  #banners .banner .highlight .promo .price>div:first-child {
    font-size: 18px;
    font-size: 1.125rem;
  }
  #banners .banner .highlight .promo .price>div:nth-child(2) {
    font-size: 100px;
    font-size: 6.25rem;
    line-height: 70px;
  }
  #banners .banner .highlight .promo .price>div:nth-child(3) {
    font-size: 22px;
    font-size: 1.375rem;
  }
  #banners .banner .highlight .promo .price>div:nth-child(3) p {
    font-size: 12px;
    font-size: 0.75rem;
  }
}
@media only screen and (max-width: 470px) {
  #banners .banner .highlight .size {
    font-weight: bold;
    color: #ff6b0f;
    font-size: 28px;
    font-size: 1.75rem;
    line-height: 28px;
  }
  #banners .banner .highlight .size .big {
    font-size: 65px;
    font-size: 4.0625rem;
  }
  #banners .banner .highlight .subtitle {
    font-size: 10px;
    font-size: 0.625rem;
  }
  #banners .banner .highlight .plus>div:first-child {
    font-weight: bold;
    font-size: 50px;
    font-size: 3.125rem;
    padding-right: 5px;
    line-height: 45px;
  }
  #banners .banner .highlight .plus>div:last-child {
    font-size: 20px;
    font-size: 1.25rem;
  }
  #banners .banner .highlight .subtitle-small {
    font-size: 12px;
    font-size: 0.75rem;
  }
  #banners .banner .highlight .promo .info {
    font-size: 12px;
    font-size: 0.75rem;
  }
  #banners .banner .highlight .promo .price>div:first-child {
    font-size: 16px;
    font-size: 1rem;
  }
  #banners .banner .highlight .promo .price>div:nth-child(2) {
    font-size: 50px;
    font-size: 3.125rem;
    line-height: 22px;
  }
  #banners .banner .highlight .promo .price>div:nth-child(3) {
    font-size: 16px;
    font-size: 1rem;
  }
  #banners .banner .highlight .promo .price>div:nth-child(3) p {
    font-size: 10px;
    font-size: 0.625rem;
  }
}
#banners .slick-dots {
  position: absolute;
  bottom: 20px;
}
#banners .slick-dots li button:before {
  color: #fff;
  font-size: 15px;
  font-size: 0.9375rem;
}
#banners .slick-dots li.slick-active button:before {
  font-size: 22px;
  font-size: 1.375rem;
  color: #ffdea9;
}
@media only screen and (max-width: 760px) {
  #banners {
    margin-bottom: 0px;
  }
  #banners .banner {
    display: block;
  }
  #banners .banner .left,
  #banners .banner .right {
    display: block;
    width: 100%;
    height: 320px;
  }
  #banners .banner .left img,
  #banners .banner .right img {
    float: inherit;
    height: 100%;
  }
  #banners .banner .right {
    background-image: none;
    background-color: #33342f;
    margin-top: -1px;
  }
  #banners .banner .right .highlight {
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    margin-top: -50px;
  }
  #banners .banner .right .highlight .bloco-left {
    float: left;
  }
  #banners .banner .right .highlight .promo {
    float: right;
  }
  #banners .banner .right:after {
    top: 0;
    bottom: inherit;
    transform-origin: center;
    -webkit-transform: scale(0.6) translateY(-80%);
    -moz-transform: scale(0.6) translateY(-80%);
    -ms-transform: scale(0.6) translateY(-80%);
    -o-transform: scale(0.6) translateY(-80%);
    transform: scale(0.6) translateY(-80%);
  }
  #banners .slick-dots {
    bottom: inherit;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    margin-top: -10px;
  }
}
@media only screen and (max-width: 470px) {
  #banners .banner .right {
    height: 250px;
  }
  #banners .banner .right .highlight {
    margin-top: -25px;
    padding: 0px 0px 0px 20px;
  }
  #banners .banner .right .highlight .bloco-left {
    width: 50%;
  }
}
.banner-mobile {
  background-image: url("../images/orange-bg.jpg");
}
.banner-mobile img {
  max-width: 100%;
  margin: 0 auto;
}
.contrate {
  background-color: #fff;
  box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.1);
}
.contrate .content {
  padding: 0px 70px;
}
.contrate h1 {
  text-align: center;
  color: #fff;
  background-color: #cc3000;
  font-size: 40px;
  font-size: 2.5rem;
  line-height: 68px;
  font-weight: bold;
}
.contrate .customer-type {
  position: relative;
  padding-top: 25px;
}
.contrate .customer-type h2 {
  color: #4a4a4a;
  font-size: 24px;
  font-size: 1.5rem;
}
.contrate .customer-type>div {
  position: absolute;
  right: 0px;
  top: 25px;
}
.contrate .customer-type>div input[type=radio] {
  outline: none;
  appearance: none;
  -webkit-appearance: none;
  -ms-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  height: 16px;
  width: 16px;
  border: 2px solid #000;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -o-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
  position: relative;
  margin-right: 14px;
}
.contrate .customer-type>div input[type=radio]:checked:after {
  content: "";
  height: 8px;
  width: 8px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -o-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
  background-color: #fe4701;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.contrate .customer-type>div label {
  font-size: 23px;
  font-size: 1.4375rem;
  color: #fe4701;
  margin-left: 30px;
}
@media only screen and (max-width: 1070px) {
  .contrate .content {
    padding: 0px;
  }
  .contrate .customer-type h2 {
    font-size: 18px;
    font-size: 1.125rem;
  }
  .contrate .customer-type>div label {
    font-size: 18px;
    font-size: 1.125rem;
  }
}
@media only screen and (max-width: 760px) {
  .contrate {
    box-shadow: none;
  }
  .contrate .content {
    width: 100%;
  }
  .contrate .content .form {
    width: 95%;
    margin: 0 auto;
  }
  .contrate .customer-type {
    margin-bottom: 20px;
    padding-top: 0px;
  }
  .contrate .customer-type h2 {
    font-size: 18px;
    font-size: 1.125rem;
    color: #fff;
    background-color: #cc3000;
    padding: 20px 30% 20px 5%;
    margin-top: -1px;
    text-transform: uppercase;
    font-weight: bold;
    position: relative;
  }
  .contrate .customer-type h2:after {
    content: url("../images/arrow-down.png");
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    right: 25px;
  }
  .contrate .customer-type h2:before {
    height: 100%;
    position: absolute;
    content: "";
    right: 79px;
    border: 1px solid #d7460f;
    width: 1px;
    top: 0;
  }
  .contrate .customer-type>div {
    position: relative;
    text-align: center;
  }
  .contrate .customer-type>div label:first-child {
    margin-left: 0px;
  }
  .contrate .customer-type>div input[type=radio] {
    border: 1px solid #fe4701;
  }
}
@media only screen and (max-width: 420px) {
  .contrate .customer-type h2 {
    font-size: 16px;
    font-size: 1rem;
  }
  .contrate .customer-type>div label {
    font-size: 16px;
    font-size: 1rem;
  }
  .contrate .customer-type>div input[type=radio] {
    margin-right: 5px;
  }
}
.contrate .form {
  padding: 30px 0px;
}
.contrate .form>div {
  margin-bottom: 11px;
}
.contrate .form>div:first-child {
  width: 800px;
}
.contrate .form>div:first-child input {
  width: 100%;
}
.contrate .form>div:last-child {
  display: table;
  width: 100%;
}
.contrate .form>div:last-child a {
  cursor: pointer;
  font-size: 11px;
  font-size: 0.6875rem;
  color: #fe4701;
  line-height: 30px;
  display: block;
  text-decoration: none;
}
.contrate .form>div:last-child>div {
  display: table-cell;
  vertical-align: top;
}
.contrate .form>div:last-child>div:first-child {
  width: 438px;
}
.contrate .form>div:last-child>div:nth-child(2) {
  width: 360px;
  padding-left: 60px;
}
.contrate .form>div:last-child>div:nth-child(2) input {
  float: right;
}
.contrate .form>div:last-child>div input {
  width: 100%;
}
.contrate .form>div:last-child>div:last-child {
  padding-left: 72px;
}
@media only screen and (max-width: 1200px) {
  .contrate .form>div:first-child {
    width: 70%;
  }
  .contrate .form>div:last-child>div:last-child {
    padding-left: 20px;
  }
  .contrate .form>div:last-child>div:first-child {
    width: 40%;
  }
  .contrate .form>div:last-child>div:nth-child(2) {
    width: 30%;
  }
}
@media only screen and (max-width: 720px) {
  .contrate .form>div:first-child {
    width: 100%;
  }
  .contrate .form>div:last-child>div {
    display: block;
  }
  .contrate .form>div:last-child>div:first-child,
  .contrate .form>div:last-child>div:nth-child(2) {
    width: 100%;
    padding-left: 0px;
    margin-bottom: 20px;
  }
  .contrate .form>div:last-child>div:last-child {
    max-width: 260px;
    padding-left: 0px;
    margin: 0 auto;
  }
}
a.btn {
  text-decoration: none;
}
.btn {
  cursor: pointer;
  -webkit-border-radius: 28px;
  -moz-border-radius: 28px;
  -o-border-radius: 28px;
  -ms-border-radius: 28px;
  border-radius: 28px;
  background-color: #fe4701;
  height: 56px;
  width: 100%;
  text-align: center;
  border: 1px solid #fe4701;
}
.btn p {
  color: #fff;
  font-size: 20px;
  font-size: 1.25rem;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}
.btn.small {
  height: 50px;
}
.btn.small p {
  font-size: 16px;
  font-size: 1rem;
}
.btn.invert {
  background-color: #fff;
}
.btn.invert p {
  color: #fe4701;
}
.main-head {
  position: relative;
}
@media only screen and (max-width: 760px) {
  .main-head .btn {
    width: 260px;
    margin: 0 auto;
    height: 40px;
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    bottom: 20px;
    font-weight: bold;
    border: 0px;
  }
}
input[type=text] {
  font-size: 23px;
  font-size: 1.4375rem;
  font-weight: 300;
  padding: 12px 0px;
  border: 0px;
  color: #fe4701;
  appearance: none;
  -webkit-appearance: none;
  -ms-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  border-bottom: 1px solid #fe4701;
  outline: none;
}
input[type=text]::-webkit-input-placeholder {
  color: #fe4701;
}
input[type=text]::-moz-placeholder {
  color: #fe4701;
}
input[type=text]:-ms-input-placeholder {
  color: #fe4701;
}
input[type=text]:-moz-placeholder {
  color: #fe4701;
}
input[type=text]:focus {
  border-color: #cc3000;
}
input[type=text]:focus::-webkit-input-placeholder {
  color: #cc3000;
}
input[type=text]:focus::-moz-placeholder {
  color: #cc3000;
}
input[type=text]:focus:-ms-input-placeholder {
  color: #cc3000;
}
input[type=text]:focus:-moz-placeholder {
  color: #cc3000;
}
@media only screen and (max-width: 1070px) {
  input[type=text] {
    font-size: 18px;
    font-size: 1.125rem;
  }
}
.planos {
  padding: 55px 0px 48px;
}
.planos .btn {
  width: 300px;
  margin: 0 auto;
  margin-bottom: 8px;
  display: block;
  text-decoration: none;
}
.planos #slider-planos {
  padding: 0 50px;
  overflow: hidden !important;
  width: 1000px !important;
  margin: 0 auto;
}
.planos #slider-planos .slick-list {
  overflow: visible !important;
}
.planos #slider-planos .slick-cloned {
  display: none !important;
}
@media only screen and (max-width: 330px) {
  .planos #slider-planos {
    padding: 0 30px;
  }
}
.planos .plano {
  width: 270px !important;
  background-color: #fff;
  height: 387px;
  box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.1);
  -webkit-border-radius: 9px;
  -moz-border-radius: 9px;
  -o-border-radius: 9px;
  -ms-border-radius: 9px;
  border-radius: 9px;
  margin: 30px 25px;
  z-index: 3;
  outline: none;
  text-align: center;
}
.planos .plano:hover,
.planos .plano.focus {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  transform: scale(1.1);
  transform-origin: center;
  transition-timing-function: ease-in-out;
}
.planos .plano .size {
  background-color: #fe4701;
  height: 185px;
  color: #fff;
  border-top-left-radius: 9px;
  border-top-right-radius: 9px;
}
.planos .plano .size h2 {
  font-size: 82px;
  font-size: 5.125rem;
  font-weight: bold;
  line-height: 70px;
}
.planos .plano .size h3 {
  font-size: 15px;
  font-size: 0.9375rem;
  font-weight: bold;
}
.planos .plano .size>div {
  position: relative;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.planos .plano .price {
  height: 202px;
}
.planos .plano .price>div {
  position: relative;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.planos .plano .price>div h3 {
  color: #000;
  font-weight: bold;
  font-size: 28px;
  font-size: 1.75rem;
}
.planos .plano .price>div h2 {
  color: #000;
  font-weight: bold;
  font-size: 30px;
  font-size: 1.875rem;
}
.planos .plano .price>div h5 {
  color: #000;
  font-weight: bold;
  font-size: 11px;
  font-size: 0.6875rem;
}
.planos .plano .price>div h4 {
  color: #000;
  font-weight: bold;
  font-size: 16px;
  font-size: 1rem;
  margin-bottom: 15px;
}
.planos .plano .price>div hr {
  width: 40%;
  height: 1px;
  background-color: #000;
  border: 0px;
  margin-bottom: 15px;
}
.planos .plano .price>div>div span {
  display: inline-block;
  vertical-align: top;
  font-weight: bold;
  font-size: 12px;
  font-size: 0.75rem;
}
.planos .plano .price>div>div b {
  color: #fe4701;
  font-size: 56px;
  font-size: 3.5rem;
  line-height: 40px;
}
.planos .plano .price>div>div .symbol {
  font-size: 22px;
  font-size: 1.375rem;
}
@media only screen and (max-width: 450px) {
  .planos .plano {
    width: 240px !important;
    height: 372px;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    -o-border-radius: 9px;
    -ms-border-radius: 9px;
    border-radius: 9px;
  }
  .planos .plano .size {
    height: 150px;
  }
  .planos .plano .size h2 {
    font-size: 62px;
    font-size: 3.875rem;
    line-height: 50px;
  }
  .planos .plano .size h3 {
    font-size: 13px;
    font-size: 0.8125rem;
  }
  .planos .plano .price {
    height: 222px;
  }
  .planos .plano .price>div h3 {
    font-size: 24px;
    font-size: 1.5rem;
  }
  .planos .plano .price>div h2 {
    font-size: 26px;
    font-size: 1.625rem;
  }
  .planos .plano .price>div h5 {
    font-size: 10px;
    font-size: 0.625rem;
  }
  .planos .plano .price>div h4 {
    font-size: 14px;
    font-size: 0.875rem;
    margin-bottom: 20px;
  }
  .planos .plano .price>div hr {
    width: 40%;
    margin-bottom: 20px;
  }
  .planos .plano .price>div>div span {
    font-size: 12px;
    font-size: 0.75rem;
  }
  .planos .plano .price>div>div b {
    font-size: 46px;
    font-size: 2.875rem;
    line-height: 40px;
  }
  .planos .plano .price>div>div .symbol {
    font-size: 18px;
    font-size: 1.125rem;
  }
}
.planos #dots-planos {
  position: relative;
  margin-bottom: 50px;
}
.planos #dots-planos .slick-dots li {
  width: 16px;
  height: 16px;
  position: relative;
}
.planos #dots-planos .slick-dots li button {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -o-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
  background-color: #d9d9d9;
  width: 2px;
  height: 2px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.planos #dots-planos .slick-dots li button:before {
  display: none;
}
.planos #dots-planos .slick-dots li.slick-active {
  background-color: #fff;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -o-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
  border: 1px solid #fe4701;
}
.planos #dots-planos .slick-dots li.slick-active button {
  background-color: #fe4701;
  padding: 3px !important;
}
@media only screen and (max-width: 760px) {
  .planos {
    padding: 35px 0 48px;
  }
}
.divider {
  height: 1px;
  width: 100%;
  background-color: #d9d9d9;
  border: 0px;
}
.todos {
  padding: 54px 0px 35px;
}
.todos .produtos {
  display: table;
  padding: 0 6%;
  margin-bottom: 72px;
}
.todos .produtos>div {
  display: table-cell;
  vertical-align: top;
  width: 20%;
  text-align: center;
  padding: 0px 20px;
}
.todos .produtos>div:first-child {
  padding: 0px;
  text-align: left;
  width: 60%;
  font-size: 52px;
  font-size: 3.25rem;
}
.todos .produtos>div:first-child>span {
  display: block;
}
.todos .produtos>div p {
  line-height: 1.2;
  padding-top: 20px;
  color: #9b9b9b;
  font-size: 15px;
  font-size: 0.9375rem;
}
.todos .produtos .produto.anima img {
  animation: anima-produto 2.6s linear;
  transform-origin: center;
}
.todos .obs {
  color: #808080;
  font-size: 10px;
  font-size: 0.625rem;
}
.todos .obs a {
  text-decoration: none;
  font-weight: bold;
  color: #808080;
}
@media only screen and (max-width: 760px) {
  .todos .obs {
    width: 85%;
    text-align: justify;
  }
}
@media only screen and (max-width: 980px) {
  .todos .produtos {
    padding: 0;
  }
  .todos .produtos>div {
    padding: 0px 12px;
  }
  .todos .produtos>div:first-child {
    font-size: 38px;
    font-size: 2.375rem;
  }
}
@media only screen and (max-width: 760px) {
  .todos .produtos>div p {
    font-size: 13px;
    font-size: 0.8125rem;
  }
}
@media only screen and (max-width: 650px) {
  .todos .produtos {
    display: block;
  }
  .todos .produtos>div {
    display: block;
    width: 100%;
    text-align: center;
    padding: 0 15% 20px;
  }
  .todos .produtos>div:first-child {
    text-align: center;
    color: #fe4701;
    width: 100%;
    padding: 0 15% 35px;
  }
  .todos .produtos>div:first-child span {
    display: inline;
  }
}
@media only screen and (max-width: 450px) {
  .todos .produtos>div:first-child {
    font-size: 26px;
    font-size: 1.625rem;
  }
}
footer {
  text-align: center;
  color: #808080;
  font-size: 10px;
  font-size: 0.625rem;
  width: 620px;
  line-height: 15px;
  padding: 30px 0px;
}
@media only screen and (max-width: 760px) {
  footer.content {
    font-size: 9px;
    font-size: 0.5625rem;
    width: 90%;
  }
}
.fade {
  z-index: 4;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.75);
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
#popup {
  position: fixed;
  z-index: 5;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  padding: 35px;
  color: #000;
  border: 1px solid #fe4701;
  background-color: #fff;
}
#popup h2 {
  font-size: 22px;
  font-size: 1.375rem;
  font-weight: bold;
  margin-bottom: 10px;
}
#popup p {
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.2;
}
#popup .close {
  cursor: pointer;
  font-weight: bold;
  color: #fe4701;
  margin-top: 20px;
  text-align: right;
}
@media only screen and (max-width: 760px) {
  #popup {
    width: 90%;
    padding: 10px;
  }
}
@media only screen and (max-width: 450px) {
  #popup h2 {
    font-size: 20px;
    font-size: 1.25rem;
  }
  #popup p {
    font-size: 15px;
    font-size: 0.9375rem;
  }
}
@-moz-keyframes anima-produto {
  10%, 90% {
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
  }
  20%, 80% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
  30%, 50%, 70% {
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
  }
  40%, 60% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
}
@-webkit-keyframes anima-produto {
  10%, 90% {
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
  }
  20%, 80% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
  30%, 50%, 70% {
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
  }
  40%, 60% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
}
@-o-keyframes anima-produto {
  10%, 90% {
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
  }
  20%, 80% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
  30%, 50%, 70% {
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
  }
  40%, 60% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes anima-produto {
  10%, 90% {
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
  }
  20%, 80% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
  30%, 50%, 70% {
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
  }
  40%, 60% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
}
