/****** Config Files *******/
@import 'reset'

use_reset('meyer')
reset('all')
/***************************/

/****** Components *********/
@import 'general/vars.styl'
@import 'general/functions.styl'

/***************************/

*, *::after, *::before      
	box-sizing border-box 	
	font-weight 300
	transition all 0.2s ease
	
html
	height 100%
	
body
	width 100%
	height 100%
	overflow-x hidden
	-webkit-font-smoothing antialiased
	-moz-osx-font-smoothing grayscale
	font-family "NIISans", sans-serif
	
.content
	width $content
	margin 0 auto
	+below($content)
		width 95%

select::-ms-expand {
    display: none;
}

.ng-cloak
	display none !important
	
#banners
	margin-bottom 40px
	& .banner
		display table
		width 100%
		& .left, & .right
			display table-cell
			width 50%			
			vertical-align middle
		& .right
			background-image url('../images/gray-bg.jpg')
			position relative
			&:after
				position absolute
				content url("../images/arrow.png")
				bottom 10%
				right 5%
		& .left
			background-image url('../images/orange-bg.jpg')
			& img
				float right
				max-width 100%
		& .highlight
			text-align center
			position relative
			centerW()
			display inline-block
			& p
				width auto
			& .size
				font-weight bold
				color $txt-banner
				set-font-size(90px)				
				line-height 90px
				& .big
					set-font-size(140px)
			& .subtitle
				color #fff
				set-font-size(26px)
				font-weight bold
			& .plus
				display table
				color $txt-banner
				&>div
					display table-cell
					vertical-align middle
					&:first-child
						font-weight bold
						set-font-size(120px)
						padding-right 5px
						line-height 90px
					&:last-child
						set-font-size(40px)
						& b
							font-weight bold
						& p:first-child
							letter-spacing 5px							
			& .subtitle-small
				color #fff
				set-font-size(20px)
				font-weight bold
			& .promo
				padding 30px 20px 0px
				& .info
					color #fff
					set-font-size(14px)
					text-align left
					font-weight bold
				& .price
					display table
					padding-top 8px
					position relative
					centerW()
					&>div
						display table-cell
						vertical-align top
						color $txt-banner
						font-weight bold
						&:first-child
							set-font-size(24px)
						&:nth-child(2)
							set-font-size(140px)
							line-height 90px
						&:nth-child(3)
							set-font-size(28px)
							& p
								set-font-size(14px)
								color #fff
	& .slick-dots
		position absolute
		bottom 20px
		& li
			& button
				&:before
					color #fff
					set-font-size(15px)
			&.slick-active
				& button
					&:before
						set-font-size(22px)
						color $dot-focus
								
						
.contrate	
	background-color #ffffff
	border 1px solid #ffffff		
	box-shadow 0px 0px 30px 0px rgba(0,0,0,0.1)
	& .content
		padding 0px 70px
	& h1
		text-align center
		color #fff
		background-color $dark
		set-font-size(40px)
		line-height 68px
		font-weight bold
	& .customer-type
		position relative
		padding-top 25px
		& h2
			color $light-txt
			set-font-size(24px)			
		&>div
			position absolute
			right 0px
			top 25px
			& input[type=radio]
				appearance none
				height 16px
				width 16px
				border 2px solid #000000
				border-radius 50%
				position relative
				margin-right 14px
				&:checked:after
					content ""
					height 8px
					width 8px
					border-radius 50%
					background-color $mainColor
					position absolute
					center()
			& label
				set-font-size(23px)
				color $mainColor
				margin-left 30px
	& .form
		padding 30px 0px
		&>div
			margin-bottom 11px
			&:first-child
				width 800px
				& input
					width 100%
			&:last-child
				display table
				width 100%
				& a
					cursor pointer
					set-font-size(11px)
					color $mainColor
					line-height 30px
					display block
					text-decoration none
				&>div
					display table-cell
					vertical-align top
					&:first-child
						width 438px
					&:nth-child(2)
						width 360px
						padding-left 60px
						& input
							float right
					& input
						width 100%
					&:last-child
						padding-left 72px
						
& .btn
	cursor pointer
	border-radius 28px
	background-color $mainColor
	height 56px
	width 100%
	text-align center
	border 1px solid $mainColor
	& p
		color #fff
		set-font-size(20px)
		position relative
		centerH()
	&.small
		height 50px
		& p
			set-font-size(16px)
	&.invert
		background-color #fff
		& p
			color $mainColor
		
		
						
input[type=text]
	set-font-size(23px)
	font-weight 300
	padding 12px 0px
	border 0px
	appearance none
	border-bottom 1px solid $mainColor
	&::-webkit-input-placeholder
		color $mainColor
	&::-moz-placeholder
		color $mainColor
	&:-ms-input-placeholder
		color $mainColor
	&:-moz-placeholder
		color $mainColor
	outline none
	&:focus
		border-color $dark
		&::-webkit-input-placeholder
			color $dark
		&::-moz-placeholder
			color $dark
		&:-ms-input-placeholder
			color $dark
		&:-moz-placeholder
			color $dark
			
.planos
	padding 55px 0px 48px
	& .btn
		width 300px
		margin 0 auto
		margin-bottom 8px
		display block
		text-decoration none
	& #slider-planos
		padding 0 50px
		overflow hidden !important
		width 1000px !important
		margin 0 auto
		& .slick-list
			overflow visible !important
		& .slick-cloned
			display none !important
	& .plano		
		width 270px !important
		background-color #fff
		height 387px		
		box-shadow 0px 0px 30px 0px rgba(0,0,0,0.1)
		border-radius 9px
		margin 30px 25px
		z-index 3
		outline none
		text-align center
		&:hover, &.focus
			transform scale(1.1)
			transform-origin center
			transition-timing-function ease-in-out
		& .size
			background-color $mainColor
			height 185px
			color #fff
			border-top-left-radius 9px
			border-top-right-radius 9px
			& h2
				set-font-size(82px)
				font-weight bold
				line-height 70px
			& h3
				set-font-size(15px)
				font-weight bold
			&>div
				position relative
				center()
		& .price			
			height 202px
			&>div
				position relative
				center()
				& h3
					color #000
					font-weight bold
					set-font-size(28px)
				& h2
					color #000
					font-weight bold
					set-font-size(30px)
				& h5
					color #000
					font-weight bold
					set-font-size(11px)
				& h4
					color #000
					font-weight bold
					set-font-size(16px)
					margin-bottom 15px
				& hr
					width 40%
					height 1px
					background-color #000
					border 0px
					margin-bottom 15px
				&>div
					& span
						display inline-block
						vertical-align top
						font-weight bold
						set-font-size(12px)
					& b
						color $mainColor
						set-font-size(56px)
						line-height 40px
					& .symbol
						set-font-size(22px)				
	& #dots-planos
		position relative
		margin-bottom 50px
		& .slick-dots
			& li
				width 16px
				height 16px
				position relative
				& button
					border-radius 50%
					background-color $dot-plans
					width 2px
					height 2px
					position absolute
					center()
					&:before
						display none
				&.slick-active
					background-color #fff
					border-radius 50%
					border 1px solid $mainColor
					& button
						background-color $mainColor
						padding 3px !important
						
						
.divider
	height 1px
	width 100%
	background-color $dot-plans
	border 0px
	
.todos
	padding 54px 0px 35px
	& .produtos
		display table
		padding 0 6%
		margin-bottom 72px
		&>div
			display table-cell
			vertical-align top
			width 20%
			text-align center
			padding 0px 20px
			&:first-child
				padding 0px
				text-align left
				width 60%
				set-font-size(52px)
			& p
				line-height 1.2
				padding-top 20px
				color #9b9b9b
				set-font-size(15px)
		& .produto.anima 
			& img
				animation anima-produto 3s linear 0s 1 normal none
				transform-origin center			
	& .obs
		color $obs
		set-font-size(10px)
		line-height 15px
		& a
			text-decoration none
			font-weight bold
			color $obs
	
footer
	text-align center
	color $obs
	set-font-size(10px)
	width 620px
	line-height 15px
	padding 30px 0px

.fade
	z-index 4
	position fixed
	top 0
	left 0
	bottom 0
	right 0
	background-color rgba(0,0,0,0.75)
	
#popup
	position fixed
	z-index 5
	center()
	padding 35px
	color $txt
	border 1px solid $mainColor
	background-color #fff
	& h2
		set-font-size(22px)
		font-weight bold
		margin-bottom 10px
	& p
		set-font-size(16px)
		line-height 1.2
	& .close
		cursor pointer
		font-weight bold
		color $mainColor
		margin-top 20px
		text-align right
		
@keyframes anima-produto{
	10%, 90% {
    transform scale(1.2)
  }
  
  20%, 80% {
    transform scale(1)
  }

  30%, 50%, 70% {
    transform scale(1.2)
  }

  40%, 60% {
    transform scale(1)
  }
}